@font-face {
font-family: 'Circe-bold';
src: url('../fonts/Circe-Bold.woff') format('woff');
}

@font-face {
font-family: 'Circe-reg';
src: url('../fonts/Circe-Regular.woff') format('woff');
}

@keyframes rotate{
	100%{
		transform: rotate(360deg);
	}
}

*{
	font-family: 'Roboto', sans-serif; 
	color: #172126;
	cursor: default;
}
a {
	cursor: pointer;
}

html, body{
	background-color: #F2F6F7;
}

header .ml-3{
	margin-left: 0.9rem !important;
}

.logo-title{
	font-weight: 500;
	font-size: 20px;
	line-height: 120%;
}

.logo-subtitle{
	font-size: 12px;
	color: #90979C;
}

.languges{
	font-family: 'Circe-reg', sans-serif;
	color: #586066;
	font-size: 14px;
	letter-spacing: 0.08em;
	cursor: pointer;
}

.languges:not(:last-child){
	margin-right: 19px;
}

.languges-active{
	font-weight: 700;
}

.btn-outline-red{
	font-family: 'Circe-bold', sans-serif;
	font-size: 12px;
	letter-spacing: 0.08em;
	color: #E34949;
	border: 2px solid #E34949;
	border-radius: 12px;
	text-transform: uppercase;
	padding-right: 13px;
	padding-left: 14px;
	margin-left: 59px;
}

.btn-outline-red:hover{
	color: #F05B5B;
	border-color: #F05B5B;
	text-decoration: none;
}

.b-btn-outline-blue{
	font-family: 'Circe-bold', sans-serif;
	font-size: 12px;
	letter-spacing: 0.08em;
	color: #7873FF;
	border: 2px solid #7873FF;
	border-radius: 12px;
	text-transform: uppercase;
	padding-right: 13px;
	padding-left: 14px;
	margin-left: 59px;
}

.b-btn-outline-blue:hover{
	color: #453FFF;
	border-color: #453FFF;
	background-color: #F2F6F7;
	text-decoration: none;
}

.main-title{
	font-size: 72px;
	color: #172126;
	font-family: 'Circe-bold', sans-serif;
	margin-top: 49px;
	line-height: 72px;
}

.input-cont:not(:last-child){
	margin-bottom: 17.5px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #DBE2E7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 50%;
}

input.default:checked + .slider {
  background-color: #E34949;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.input-text{
	font-size: 18px;
	margin-left: 15px;
}

.right-input .input-text{
	margin-left: 36px;
}

.left-container{
	margin-top: 39px;
}

.cta{
	text-transform: uppercase;
	font-family: 'Circe-bold', sans-serif;
	font-size: 16px;
	letter-spacing: 0.08em;
	background: #E34949;
	box-shadow: 0px 18px 40px -15px rgba(237, 89, 82, 0.4);
	border-radius: 12px;
	color: #fff;
}

.cta:hover{
	background: #F05B5B;
	color: #fff;
	box-shadow: 0px 18px 40px -15px rgba(237, 89, 82, 0.4);
}

.cta-cont{
	margin-top: 59px;
	border: none;
}

.right-cont{
	margin-top: -83px;
	margin-left: -98px;
}

main{
	padding-bottom: 86px;
}

.number{
	font-family: 'Circe-reg', sans-serif;
	font-size: 200px;
	line-height: 200px;
	margin-top: 118px;
	color: #4A4A4A;
}

.number-title{
	font-family: 'Circe-bold', sans-serif;
	font-size: 24px;
	margin-top: -11px;
	color: #3B3E40;
}

.number-subtitle{
	text-transform: uppercase;
	color: #3B3E40;
	font-family: 'Circe-reg', sans-serif;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 56px;
}

.cta-link{
	padding: 16px 24px;
	font-size: 16px;
}

.cta-link:hover{
	text-decoration: none;
	color: #fff;
}

.card{
	border: none;
	box-shadow: 0px 2px 2px rgba(29, 106, 154, 0.12);
	border-radius: 16px;
}

.security-card{
	padding-right: 33px;
	padding-bottom: 77px;
}

.card-title{
	font-family: 'Circe-bold', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 20px;
	margin-top: 38px;
}

.ul-title{
	font-size: 24px;
	font-family: 'Circe-bold', sans-serif;
	margin-bottom: 0;
	margin-top: 27px;
}

.li-title{
	font-size: 16px;
	height: 150%;
	font-weight: 700;
}

.p-text{
	font-size: 16px;
	line-height: 150%;
	margin: 0;
}

.card-list{
	margin-top: 24px;
	list-style: none;
}

.card-list--item:not(:last-child){
	margin-bottom: 23px;
}

.card-list--item{
	position: relative;
}

.card-list--item::before{
	content: '';
	display: inline-block;
	position: absolute;
	top: 6px;
	left: -17px;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	background-color: #E34949;
}

.main-row{
	margin-top: 49px;
}

.page-title{
	font-size: 48px;
	line-height: 60px;
	font-family: 'Circe-bold', sans-serif;
	margin: 0;
	margin-right: 60px;
}

.wait-img{
	margin-right: 18px;
	animation: rotate  1.8s infinite;
}

.alert-img{
	margin-right: 14px;
	margin-left: 4px;
	margin-top: 4px;
}

.message-title{
	font-size: 16px;
}

.cs{
	overflow: scroll;
}

.alert-cont .message-title{
	color: #E34949;
}

a.message-title{
	text-decoration: none;
	color: #E34949;
}

.link-img{
	margin-right: 6px;
}

.btn-outline-red.disabled-message{
	margin-left: 20px;
 border-color: #C2C9CC;
 color: #90979C
}

.btn-outline-blue.disabled-message{
	margin-left: 20px;
	border-color: #7873FF;
	color: #7873FF
}

.message-subtitle{
	font-size: 12px;
	color: #586066;
}

.content-row{
	margin-top: 39px;
}

.content-row .col-4{
	padding-right: 33px;
}

.content-row .col-8{
	padding-left: 7px;
}

.list-group{
	padding-top: 12px;
	padding-bottom: 11px;
	margin-bottom: 12px;
}

.disabled-card .list-group-item{
	color: #90979C;
}

.disabled-card .list-group-item:hover{
	background: #fff;
}

.list-group-item{
	border: none;
	border-radius: 12px;
	font-size: 18px;
	line-height: 22px;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 22px;
}

.list-group-item.active{
	background: #DBE2E7;
	color: #172126;
}

.sc {	
	 height: 500px;
	 overflow: auto;
}

.sc::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.sc { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.sc { overflow: -moz-scrollbars-none; }

.sc .card-title{
	font-size: 24px;
	line-height: 24px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.sc .card{
	padding-bottom: 25px;
	margin-bottom: 12px;
}

.sc .col-8{
	padding: 0;
	padding-left: 22px;
}

.sc .card-group{
	margin-top: 30px;
}

.sc .card-group:last-child{
	margin-top: 28px;
}

.sc .input-text{
	font-weight: 500;
	font-size: 16px;
	margin-left: 12px;
}

.sc .verified{
	font-size: 12px;
	padding: 4px 10px;
	color: #fff;
	background: #586066;
	border-radius: 12px;
	margin-left: 27px;
}

.sc .card-group{
	display: block;
}

.card-group > .p-text{
	margin-top: 9px;
}

.show-btn{
	display: block;
	letter-spacing: 0.1em;
	font-size: 10px;
	text-transform: uppercase;
	color: #586066;
	border: 2px solid #C2C9CC;
	border-radius: 12px;
	padding: 6px 13px;
	margin-top: 12px;
}

.info-img{
	margin-right: 5px;
}

.dont-choice{
	font-size: 12px;
	padding: 4px 10px;
	color: #586066;
	background: #DBE2E7;
	border-radius: 12px;
	margin-left: 27px;
}

.btn:focus{
	box-shadow: none;
}

.b-btn-outline-blue:focus, .b-btn-outline-blue:active {
  outline: none;
  box-shadow: none;
}

.modal-content{
		box-shadow: 0px 18px 40px -24px rgba(70, 119, 149, 0.32);
		border-radius: 20px;
	}

	.modal-content .card-title{
		margin-top: -4px;
	}

	.modal-content .card{
		box-shadow: none;
	}

	.modal-content button.close{
		margin-right: -6px;
		margin-top: -23px;
	}

	.modal-dialog .container{
		padding: 40px;
		padding-left: 39px;
	}

	.modal-dialog .card-list--item::before{
		left: -13px;
	}

	.modal-dialog .security-card{
		padding-bottom: 0;
		padding-right: 5px;
	}

@media(min-width: 1200px){
	.container{
		max-width: 1200px;
	}

}

@media(min-width: 576px){
	.modal-dialog{
		max-width: 840px;
		margin-top: 104px;
	}


}

@media(max-width: 768px){
	.input-cont:last-child{
		margin-bottom: 18px;
	}

	.right-input .input-text{
		margin-left: 15px;
	}

	.btn-outline-red{
		margin-left: 21px;
	}
}

@media(max-width: 576px){

	header, .row-cont{
		padding-right: 20px;
		padding-left: 20px;
	}

	.main-title{
		font-size: 48px;
		line-height: 48px;
		margin-top: 29px;
	}

	.languges, .btn-outline-red{
		font-size: 12px;
	}

	.languges:not(:last-child){
		margin-right: 14px;
	}

	.left-container{
		margin-top: 29px;
	}

	.cta-cont{
		margin-top: 31px;
	}

	.number{
		font-size: 120px;
		line-height: 120px;
		margin-top: 139px;
	}

	.number-title{
		font-size: 18px;
		margin-top: 4px;
	}

	.number-subtitle{
		font-size: 14px;
		margin-bottom: 49px;
	}

 .cta-link{
 	font-size: 14px;
 	padding: 12px 24px;
 }

 .security-row{
 	padding-right: 20px;
 	padding-left: 20px;
 }

 .card-title{
 	font-size: 24px;
 	line-height: 24px;
 	margin-top: 25px;
 	margin-bottom: 15px;
 }

 .security-card{
 	padding-left: 14px;
 	padding-right: 17px;
 }

 .p-text, .li-title{
 	font-size: 13px;
 	line-height: 20px;
 }

 .li-title{
 	margin-bottom: 6px;
 }

 .card-list{
 	margin-top: 14px;
 }

 .card-list--item:not(:last-child){
 	margin-bottom: 15px;
 }

 .card-list--item::before{
 	width: 6px;
 	height: 6px;
 	top: 8px;
 	left: -14px;
 }

 .ul-title{
 	font-size: 18px;
 	line-height: 16px;
 	margin-top: 30px;
 	padding-left: 2px;
 }

 .page-title{
 	font-size: 32px;
 	line-height: 32px;
 	margin-left: 4px;
 	margin-right: 0;
 }	

 .main-row{
 	margin-top: 35px;
 }

 .cta.export{
 	padding: 13px 23px;
 	font-size: 14px;
 	margin-left: 1px;
 }

 .sc{
 	height: auto;
 }

 .sc .card-title{
 	font-size: 20px;
 	line-height: 24px;
 	margin-top: 22px;
 }

 .content-row{
 	margin-top: 28px;
 }

 .content-row > .col-12{
 	padding-right: 20px;
 	padding-left: 20px;
 }

 .card > .col-12{
 	padding-right: 18px;
 	padding-left: 18px;
 }

 .sc .p-text{
 	font-size: 14px;
 	line-height: 21px;
 }

 .sc .input-text{
 	font-size: 14px;
 }

 .sc .card > div > .p-text{
 	padding-right: 10px;
 }

 .sc .verified, .dont-choice{
 	margin-left: auto;
 	font-size: 10px;
 	line-height: 14px;
 }

 .card-group > .p-text{
 	margin-top: 10px;
 }

 .card-group:last-child > .p-text{
 	margin-top: 11px;
 }

 .show-btn{
 	margin-top: 14px;
 }

 .sc .card-group:last-child{
 	margin-top: 25px;
 }

	.modal-dialog{
		max-width: 335px;
		margin: 0 auto;
		margin-top: 13px;
	}

	.modal-dialog .card-title{
		margin-bottom: 18px;
	}

	.modal-dialog .ul-title{
		padding: 0;
	}

	.modal-content button.close{
		margin-top: -14px;
		margin-right: 4px;
	}

	.modal-dialog .card > .col-12{
		padding: 0;
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 8px;
	}

	.modal-dialog .container, .modal-dialog .security-row{
		padding: 0;
	}

	.modal-dialog .container{
		padding: 24px 20px;
	}

	.modal-dialog .card-list--item{
		padding-left: 2px !important;
		padding-top: 1px !important;
	}

	.modal-dialog .card-list--item::before{
		left: -16px;
	}

	.message-title{
		font-size: 12px;
		line-height: 18px;
	}

	.message-subtitle{
		font-size: 10px;
		line-height: 15px;
	}

	.wait{
		margin-top: 7px;
	}
	.wait-img{
		width: 17px;
		height: 19px;
		margin-right: 14px;
	}

	.link-img{
		width: 19.27px;
		height: auto;
		margin-right: 4px;
	}

	.page-title .message-title{
		margin-left: 29px;
	}

	.btn-outline-red.disabled-message{
		margin-left: 4px;
		margin-top: 18px;
	}

	.btn-outline-blue.disabled-message{
		margin-left: 4px;
		margin-top: 18px;
	}

	.alert-img{
		width: 16.4px;
		margin-right: 10px;
		margin-left: 3px;
		height: auto;
		margin-top: 5px;
	}

	.alert-cont{
		margin-top: 1px;
	}

	.alert-cont .message-title{
		margin-top: 2px;
	}

}