<!DOCTYPE html>{% load static martortags i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Whitespots.io</title>
    <link rel="stylesheet" href="{{ BASE_URL }}{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ BASE_URL }}{% static 'css/print.css' %}">
</head>
<body>
<header class="ml-auto mr-auto pr-md-0 pl-md-0">
    <div class="container ">
        <div class="row justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <img src="{{ BASE_URL }}{% static 'img/logo.svg' %}" class="logo" alt="logo">
                <div class="logo-text ">
                    <div class="logo-title">Whitespots.io</div>
                    <div class="logo-subtitle">{% trans "Security requirements generator" %}</div>
                </div>
            </div>
            <div class="mb-1">
                <a href="mailto:sales@whitespots.io?subject=SecurityAssessment" class="header-link">sales@whitespots.io</a>
            </div>
        </div>
    </div>
</header>
<main class="p-0">
    <div class="container">
        {% get_current_language as LANGUAGE_CODE %}
        {% for category in categories %}
            <div class="print-title">{{ category.category.name }}</div>

            {% for requirement in category.requirements %}
                <div class="d-flex {% if requirement.id in category.selected_ids %}important-cont{% endif %}">
                    <div class="custom-control custom-checkbox w-100">
                        <label>
                            <input type="checkbox" class="custom-control-input" name="{{ category.category.id }}checkbox_req_{{ requirement.id }}" id="{{ category.category.id }}checkbox_req_{{ requirement.id }}">
                        </label>
                        {{ requirement.title }}
                        <a href="{{ BASE_URL }}/{{ LANGUAGE_CODE }}/requirement/{{ requirement.id }}" class="input-link">
                            {% trans "full description" %}
                        </a>
                        <label class="custom-control-label w-100">
                            <div class="input-title d-flex align-items-center">
                                {% if requirement.id in category.selected_ids %}
                                    <div class="tag-imp ml-auto">{% trans "Important" %}</div>
                                {% endif %}
                            </div>
                        </label>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</main>
</body>
</html>
